.footerContainer {
    height: 30px;
    background: linear-gradient( rgb(26, 21, 21), grey,  rgb(26, 21, 21));
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}