.searchResultContainer {
    width: 646px;
    display: flex;
    justify-content: center;
    margin: 150px auto;
    padding: 5px;
    background-color: rgb(26, 21, 21);
}

.searchResult {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}